/* 파일 순서를 지키는 것이 중요하다
    먼저 font를 import하고 style을 reset한 다음 variables.css를 import한다
    만약 variables.css를 아래로 옮긴다면 위에서 import한 .css 파일에서 사용할 수 없다. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "reset.css";
@import "variables.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* styles.css 파일에는 font-family 같이 모든 스크린에 적용될 수 있는 스타일을 넣는다. */
body {
  font-family: 'Oswald', sans-serif;
  height: 1000vh;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
  margin-top: 110px;
}